<!doctype html>
<html>
<head>
	<title>Demo Page</title>
	<meta charset="UTF-8">
	<title>Week 9 Database</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    {{{body}}}


</body>
</html>