
        <h1>GET Request Received</h1>

<form action="/" method="POST">
    <ul>
        <li><strong>First name </strong><input type="text" name="firstName"  /></li>
        <li><strong>Last Name name </strong><input type="text" name="lastName"  /></li>
        <li><strong>Age </strong><input type="text" name="Age"  /></li>
    </ul>
    <button type="submit">SUBMIT</button>
</form>

